* {
  box-sizing: border-box;
}

body {
  background-color: black;
  margin: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  background-color: ghostwhite;
  border: 4px solid darkred;
  text-align: center;
  display: block;
}

ul {
  background-color: ghostwhite;
  border: 4px solid darkred;
  padding: 10px;
  margin: 25px;
  list-style-position: inside;
}